*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    overflow-x: hidden;  
}
body{
    font-family: 'Inter', sans-serif;
    a,p,span,pre,h1,h2,h4,h3,h5,h6{
        margin: 0;
        padding: 0;
        font-family: inherit;
    }
    a{
        text-decoration: none;
        padding: 0;
        margin: 0;
    }
    ul{
        li{
            list-style: none;
        }
    }

    //nav
    nav{
        .sticky{
            background: #000;
        }
        padding: 10px;
        position: fixed;
        top: 0%;
        width: 100%;
        z-index: 99;
        .nav__logo{
            span{
                background: rgba(104, 79, 255, 0.1);
                border-radius: 80px;
                padding: 8px 21px;
                color: #684FFF;
                display: inline-block;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 24px;
            }
        }
        .nav__links{
            ul{
                display: flex;
                justify-content: end;
                align-items: center;
                padding-top: 10px;
                li{
                    margin: 0px 15px;
                    a{
                        text-decoration: none;
                        color: #0A1931;
                        text-transform: capitalize;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 40px;
                        &:hover{
                            border-bottom: 1px solid #333333;
                        }
                    }
                }
            }
        }
    }
    nav.sticky{
        background: rgb(233, 237, 247);
        border-bottom: 1px solid rgba(#684FFF,0.7);
        transition: all .5s ease-in;
        
    }
    header{
      background: url("../img/header-bg.svg"),no-repeat center;
      background-size: cover;
       padding-top: 100px;
        .header__hero{
            .hero__text{
                height: 100%;
                // line-height: 200px;
                padding-top: 53px;
                h4{
                    font-family: Inter;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 63px;
                    line-height: 98px;
                    span{
                        color: #684FFF;
                    }
                }
                p{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 32px;
                    color: #737D8C;
                }
                .buttons{
                    margin-top: 20px;
                    a{
                        border: 1px solid #684FFF;
                        border-radius: 5px;
                        padding: 7px 12px;
                        display: inline-block;
                        color: #0A1931;
                        text-decoration: none;
                        transition: all .5s ease-in-out;
                        &:hover{
                            background: #684FFF;
                            color: #FFFFFF;
                        }
                    }
                }
                .follow__me{
                    span{
                        color: #0A1931;
                        font-size: 14px;
                        font-weight: normal;
                    }
                    .links{
                        padding: 20px 0px;
                        a{
                            height: 35px;
                            width: 35px;
                            display: inline-block;
                            border: 1px solid #DFE3EB;
                            box-sizing: border-box;
                            border-radius: 3px;
                            margin: 5px;
                            line-height: 35px;
                            text-align: center;
                            transition: all .5s ease-in-out;
                            i{
                                color: #0A1931;
                                font-size: 14x;
                            }
                            &:hover{
                                background: #684FFF;
                                i{

                                    color: #FFFFFF;
                                }
                            }
                            &:nth-child(1){
                                margin-left: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
    //nav end

    // intro
    .intro{
        padding: 100px 30px;
        background-color: #DFE3EB;
        background: url("../img/intro-bg.svg") no-repeat center;
        .intro__text{
            padding-left: 20px;
            h4{
                font-style: normal;
                font-weight: normal;
                font-size: 44px;
                line-height: 56px;
                color: #0A1931;
            }
            p{
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 28px;
                color: #737D8C;
                margin: 10px 0px;
            }
            .achivement{
                display: flex;
               margin: 10px 0px;
                .acv_1,.acv_2{
                    display: flex;
                    align-items: center;
                    span{
                        font-style: normal;
                        font-weight: normal;
                        font-size: 56px;
                        color: #684FFF;
                        margin-right: 10px;
                    }
                    p{
                        color: #0A1931;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                    }
                }
            }
            .button{
                a{
                    background-color: #684FFF;
                    border-radius: 5px;
                    padding: 7px 15px;
                    display: inline-block;
                    color: #0A1931;
                    text-decoration: none;
                    -webkit-transition: all .5s ease-in-out;
                    color: #FFFFFF;
                    transition: all .5s ease-in-out;
                }
            }
        }
    }
    // intro end

    // service 
    .service{
        padding: 30px 0px;
        .service__header{
            text-align: center;
            h4{
                font-style: normal;
                font-weight: normal;
                font-size: 40px;
                color: #0A1931;
            }
            div{
                height: 3px;
                width: 80px;
                margin: 10px auto;
                background: #684FFF;
                border-radius: 3px;
                opacity: 0.6;
            }
        }
        .cards{
            .service__card{
                padding: 20px;
                background: #f2f3f5;
                
                transition: all .5s ease-in-out;
                .top__icon{
                    i{
                        color: #0A1931;
                        font-size: 30px;
                        transition: all .5s ease-in-out;
                    }
                }
                .main__content{
                    padding-top: 100px;
                    transition: all .5s ease-in-out;
                    h5{
                        font-size: 30px;
                        max-width: 190px;
                        color: #0A1931;
                    }
                    div{
                        height: 1px;
                        width: 30px;
                        background: #684FFF;
                        border-radius: 3px;
                        opacity: 0.3;
                        margin: 10px 0px;
                    }
                    a{
                        text-decoration: none;
                        color: #0A1931;
                        display: flex;
                        align-items: center;
                        transition: all .5s ease-in-out;
                        span{
                            margin-right: 10px;
                            font-size: 16px;
                            display: none;
                            transition: all .5s ease-in-out;
                        }
                    }
                }
                &:hover{
                    background: #FFFFFF;
                    /* Hover Shadow */
                    box-shadow: 4px 4px 10px rgba(10, 25, 49, 0.09);
                    .top__icon{
                        i{
                            color: #684FFF;
                            
                        }
                    }
                    .main__content{
                        a{
                            span,i{
                                display: block;
                                color: #684FFF;
                            }
                        }
                    }
                   
                }
            }
        }
    }
    // service end

    // work
    section.works{
        background: rgba(223, 227, 235, 0.4);
        padding: 50px 0px;
        .work__header{
            text-align: center;
            h4{
                font-style: normal;
                font-weight: normal;
                font-size: 40px;
                color: #0A1931;
            }
            div{
                height: 3px;
                width: 80px;
                margin: 10px auto;
                background: #684FFF;
                border-radius: 3px;
                opacity: 0.6;
            }
        }
        .work__cards{
            .work__card{               
                .card__text{
                    padding: 20px 10px;
                    background: #FFFF;
                    h4{
                        color: #0A1931;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 22px;
                    }
                    .see_work{
                        margin-top: 10px;
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        span{
                            font-size: 16px;
                            color: #684FFF;
                            display: none;
                            transition: all .5s ease-in-out;
                            margin-right: 10px;
                        }
                        i{
                            font-size: 16px;
                            color: #684FFF;
                        }
                       
                    }
                }
                &:hover{
                    .card__text{
                        .see_work{
                          span{
                              display: block;
                          }
                        }
                    }  
                }
            }
        }
    }
    // work end

    // brand
    section.brands{
        padding: 60px 0px;
        .brand__info__text{
            p{
                font-style: normal;
                font-weight: normal;
                font-size: 32px;
                span{
                    color: #684FFF;
                }
            }
        }
    }
    // brand end

    //hire__me
    section.hire__me{
        
        
        .container{
            background: url("../img/hire-bg.svg") no-repeat center;
            padding: 60px 0px;
        }
        .info{
            text-align: center;
            h4{
                color: #FFFFFF;
                font-style: normal;
                font-weight: normal;
                font-size: 32px;
                text-align: center;
                max-width: 505px;
                margin: 20px auto;
            }
            a{
                background-color: #684FFF;
                border-radius: 5px;
                padding: 7px 15px;
                display: inline-block;
                color: #0A1931;
                text-decoration: none;
                -webkit-transition: all .5s ease-in-out;
                color: #FFFFFF;
                transition: all .5s ease-in-out;
            }
        }
    }
    //hire__me end

    //testimonial
    section.testimonial{
        padding: 30px 0px;
        margin-top: 30px;
        .testimonial__header{
            text-align: center;
            h4{
                font-style: normal;
                font-weight: normal;
                font-size: 40px;
                color: #0A1931;
            }
            div{
                height: 3px;
                width: 80px;
                margin: 10px auto;
                background: #684FFF;
                border-radius: 3px;
                opacity: 0.6;
            }
        }
        .testimonial__chat{
            .chat{
                display: flex;
                padding: 10px;
                align-items: center;
                transition: all .5s ease-in-out;
                .chat__img{
                    img{
                        height: 52px;
                        width: 52px;
                        border-radius: 50%;
                    }
                }
                .chat__info{
                    h6{
                        color: #0A1931;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                    }
                    p{
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        color: #737D8C;
                    }
                }
                &:hover{
                    background: #f0f2f7;
                    cursor: pointer;
                }
            }
            .chat.active{
                background: #f0f2f7;
            }
            
        }
        .mesg{
            background: rgb(245, 247, 248);
            padding: 20px;
            position: relative;
            overflow-x: visible;
            .mesg__header{
                .rating{
                    display: flex;
                    align-items: center;
                    i{
                        color: #FF8718;
                    }
                    span{
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        color: #0A1931;
                        margin-left: 5px;
                    }
                }
                .fa-quote-right{
                    font-size: 80px;
                    color: #DFE3EB;
                }
            }
            .mseg__content{
                p{
                    font-family: Inter;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 28px;
                    line-height: 160%;
                    color: #0A1931;
                }
            }
            .tool__tip{
                height: 85px;
                width: 100px;
                background: rgb(245, 247, 248);
                transform: rotate(45deg);
                position: absolute;
                top: 0%;
                left: 0%;
                z-index: -1;
            }
        }
    }
    //testimonial

    //blog__news
    section.blog__news{
        padding: 30px 0px;
        background: linear-gradient(to right,#f5f5f8,#FFFFFF);
        .blog__news__header{
            text-align: center;
            h4{
                font-style: normal;
                font-weight: normal;
                font-size: 40px;
                color: #0A1931;
            }
            div{
                height: 3px;
                width: 80px;
                margin: 10px auto;
                background: #684FFF;
                border-radius: 3px;
                opacity: 0.6;
            }
        }
        .blog__card{
            background: #FFFFFF;
            transition: all .5s ease-in-out;
            .card__img{
                // padding: px;
                img{
                    transform: scale(0.95);
                    transition: all .3s ease-in-out;
                    &:hover{
                        transform: scale(1);
                    }
                }
            }

            .card__content{
                padding: 7px 20px;
                span{
                
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    text-align: center;

                    /* Gray_500 */
                    color: #737D8C;
                }
                .main{
                    p{
                        font-family: Inter;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 150%;
                        color: #0A1931;
                    }
                }
                .bottom{
                    margin-top: 20px;
                    a{
                        display: flex;
                        text-decoration: none;
                        span,i{
                            color: #684FFF;
                        }
                        span{
                            margin-right: 15px;
                            display: none;
                        }
                    }
                }
            }
            &:hover{
                box-shadow: 4px 4px 10px rgba(163, 178, 204, 0.09);
                cursor: pointer;
               
                .card__content{
                    .bottom{
                        a{
                            span{
                                display: block;
                            }
                        }
                    }
                }
            }
        }
        .blog__tabs{
            .tab{
               
               padding: 15px;
               transition: all .5s ease-in-out;
               border-radius: 10px;
               p{
                
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                color: #0A1931;
               }
               .read__more{
                   display: flex;
                   margin-top: 10px;
                 span{
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    letter-spacing: 0.02em;
                    text-transform: uppercase; 
                    color: #684FFF;
                    display: none;
                    margin-right: 10px;
                 }
                 i{
                    font-size: 14px;
                    color: #684FFF;
                 }
               }
               &:hover{
                  background: #FFFFFF;
                  cursor: pointer;
                  .read__more{
                      span{
                          display: block;
                      }
                  }
               }
            }
        }
    }
    //blog__news end

    //contact
    section.contact{
        padding: 50px 0px;
        background: url("../img/conatct-bg.jpg") no-repeat center rgba(#FFFFFF,0.1);
        background-size: cover;
        .footer__form{
            background: #FFFFFF;
            padding: 20px;
            .form__header{
                margin: 10px 0px;
                h4{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 32px;
                    line-height: 40px;
                    color: #0A1931;
                }
            }
            .input__box{
                margin: 10px 0px;
                input{
                    // border: 1px solid rgba(red, green, blue, alpha);
                    width: 100%;
                    padding: 7px 10px;
                    background: #FFFFFF;

                    /* Gray_100 */
                    border: 1px solid #DFE3EB;
                    box-sizing: border-box;
                    border-radius: 4px;
                    transition: all .5s ease-in-out;
                    &::placeholder{
                        font-size: 14px;
                        color: #737D8C;
                    }
                    &:focus{
                        border: 1px solid #684FFF;
                    }
                }
                textarea{
                    width: 100%;
                    padding: 10px;
                    width: 100%;
                    padding: 7px 10px;
                    background: #FFFFFF;

                    /* Gray_100 */
                    border: 1px solid #DFE3EB;
                    box-sizing: border-box;
                    border-radius: 4px;
                    transition: all .5s ease-in-out;
                    &::placeholder{
                        font-size: 14px;
                        color: #737D8C;
                    }
                    &:focus{
                        border: 1px solid #684FFF;
                    }
                }
                button{
                   padding: 7px 15px;
                   background: transparent;
                   border-radius: 5px;
                    border: none;
                    outline: none;
                    color:  #0A1931;
                    font-size: 16px;
                    font-weight: 400;
                    position: relative;
                    border: 1px solid #684FFF;
                    transition: all .5s ease-in-out;
                    
                    &:hover{
                        background: #684FFF;
                        color:  #FFFFFF;
                    }
                }
            }
        }
        .contact__links{
            background: #FFFF;
            padding: 30px 40px;
            .link__title{
                margin: 10px 0px;
                h4{
 
                    font-style: normal;
                    font-weight: normal;
                    font-size: 32px;
                    color: #0A1931;
                }
            }
            .links{
                .link{
                    margin: 10px 0px;
                    display: flex;
                    align-items: center;
                    padding: 5px 0px;
                    .icon{
                        margin-right: 20px;
                        width: fit-content;
                        display: inline-block;
                        overflow-x: visible;
                       i{
                           color: #684FFF;
                           font-size: 20px;
                       }
                       
                    }
                    .info{
                       
                        p{
                            font-family: Inter;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 28px;
                            color: #0A1931;
                        }
                    }
                }
                .social__links{
                    margin-top: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    a{
                        text-decoration: none;
                        height: 50px;
                        width: 50px;
                        border-radius: 50%;
                        border: 1px solid rgba(#CCCCCC,0.9);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        overflow: visible;
                        transition: all .5s ease-in-out;
                        i{
                            font-size: 16px;
                            color: #0A1931;
                            transition: all .5s ease-in-out;
                        }
                        &:hover{
                            background: #684FFF;
                            border: 1px solid #684FFF;
                            i{
                                
                                color: #FFFFFF;
                            }
                        }
                    }
                }
            }
        }
    }
    //contact end

    //footer
    footer{
        padding: 30px 0px;
        p{
            text-align: center;
            font-size: 14px;
            color: #737D8C;
            a{
                text-decoration: none;
                color: #684FFF;
            }
        }
    }
    //footer end
}

//media queries

// xs
@media (min-width: 300px) and (max-width: 575.98px) { 
    nav{
        .nav__links{
            display: none !important;
        }
        .ham__menu{
            text-align: right;
            &:hover{
                cursor: pointer;
                i{
                    color: #684FFF;
                }
            }
        }
    }

    header{
       .header__hero{
         .hero__text{
             h4{
                 font-size: 32px !important;
                 line-height: 57px !important;
             }
             p{
                 font-size: 14px !important;
             }
             .follow__me{
                 .links{
                     a{
                         overflow: hidden !important;
                     }
                 }
             }
         }
       } 
    }
    section.intro{
        .intro__text{
            padding-left: 0px !important;
            margin-top: 20px !important;
            h4{
                font-size: 18px !important;
                line-height: 37px !important;
            }
            p{
                font-size: 14px !important;
            }
          .achivement{
              flex-direction: column !important;
              .acv_1,.acv_2{
                  span{
                      font-size: 30px !important;

                  }
                  p{
                      font-size: 14px !important;
                  }
              }
          }
        }
    }
    section.brands{
        .brand__info__text{
            p{
                font-size: 29px !important;
                text-align: center;
            }
        }
    }
    section.hire__me{
        .info{
            h4{
                font-size: 25px !important;
            }
        }
    }
    section.testimonial{
        .hide__me{
            display: none !important;
        }
    }
    section.blog__news{
       .blog__news__header{
           h4{
               font-size: 35px !important;
           }
       } 
    }
    section.contact{
      .link__title{
          h4{
              font-size: 31px !important;
          }
      }
      .links{
          .link{
              .info{
                  p{
                      font-size: 14px !important;
                  }
              }
          }
          .social__links{
              a{
                height: 30px !important;
                width: 30px !important;
              }
          }
      }
    }
}

// sm
@media (min-width: 576px) and (max-width: 767.98px){
    nav{
        .nav__links{
            display: none !important;
        }
        .ham__menu{
            text-align: right;
            &:hover{
                cursor: pointer;
                i{
                    color: #684FFF;
                }
            }
        }
    }
    section.testimonial{
        .hide__me{
            display: none !important;
        }
    }
}

//md
@media (min-width: 768px) and (max-width: 991.98px){
    nav{
        .nav__links{
            display: none !important;
        }
        .ham__menu{
            text-align: right;
            &:hover{
                cursor: pointer;
                i{
                    color: #684FFF;
                }
            }
        }
    }
    header{
        .follow__me{
            .links{
                a{
                    overflow: hidden !important;
                }
            }
        }
    }
    section.testimonial{
        .hide__me{
            display: none !important;
        }
    }

    section.intro{
        .intro__text{
            padding-bottom: 52px !important;
            padding-left: 0px !important;
            margin-top: 20px !important;
            h4{
                font-size: 35px  !important;
            }
            p{
                font-size: 14px !important;
            }
            .achivement{
                .acv_1{
                    margin-right: 36px !important;
                }
            }
        }
    }
}

//lg

@media (min-width: 992px){
    nav{
        .nav__links{
            display: block !important;
        }
        .ham__menu{
            display: none !important;
        }
    }  
}
//media queries
