*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    overflow-x: hidden;  
}
body{
    font-family: 'Inter', sans-serif;
    a,p,span,pre,h1,h2,h4,h3,h5,h6{
        margin: 0;
        padding: 0;
        font-family: inherit;
    }
    a{
        text-decoration: none;
        padding: 0;
        margin: 0;
    }
    ul{
        li{
            list-style: none;
        }
    }

    //nav
    header{
        position: sticky;
        top: 0%;
        width: 100%;
        nav{
            padding: 10px;
           
            .nav__logo{
                span{
                    background: rgba(104, 79, 255, 0.1);
                    border-radius: 80px;
                    padding: 8px 21px;
                    color: #684FFF;
                    display: inline-block;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 24px;
                }
            }
            .nav__links{
                ul{
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    padding-top: 10px;
                    li{
                        margin: 0px 15px;
                        a{
                            text-decoration: none;
                            color: #0A1931;
                            text-transform: capitalize;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 40px;
                            &:hover{
                                border-bottom: 1px solid #333333;
                            }
                        }
                    }
                }
            }
        }
        .header__hero{
            .hero__text{
                height: 100%;
                // line-height: 200px;
                padding-top: 53px;
                h4{
                    font-family: Inter;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 63px;
                    line-height: 98px;
                    span{
                        color: #684FFF;
                    }
                }
                p{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 32px;
                    color: #737D8C;
                }
                .buttons{
                    margin-top: 20px;
                    a{
                        border: 1px solid #684FFF;
                        border-radius: 5px;
                        padding: 7px 12px;
                        display: inline-block;
                        color: #0A1931;
                        text-decoration: none;
                        transition: all .5s ease-in-out;
                        &:hover{
                            background: #684FFF;
                            color: #FFFFFF;
                        }
                    }
                }
                .follow__me{
                    span{
                        color: #0A1931;
                        font-size: 14px;
                        font-weight: normal;
                    }
                    .links{
                        padding: 20px 0px;
                        a{
                            height: 35px;
                            width: 35px;
                            display: inline-block;
                            border: 1px solid #DFE3EB;
                            box-sizing: border-box;
                            border-radius: 3px;
                            margin: 5px;
                            line-height: 35px;
                            text-align: center;
                            transition: all .5s ease-in-out;
                            i{
                                color: #0A1931;
                                font-size: 14x;
                            }
                            &:hover{
                                background: #684FFF;
                                i{

                                    color: #FFFFFF;
                                }
                            }
                            &:nth-child(1){
                                margin-left: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
    //nav end

    // intro
    .intro{
        padding: 60px 30px;
        background-color: #DFE3EB;
        .intro__text{
            padding-left: 20px;
            h4{
                font-style: normal;
                font-weight: normal;
                font-size: 44px;
                line-height: 56px;
                color: #0A1931;
            }
            p{
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 28px;
                color: #737D8C;
                margin: 10px 0px;
            }
            .achivement{
                display: flex;
               margin: 10px 0px;
                .acv_1,.acv_2{
                    display: flex;
                    align-items: center;
                    span{
                        font-style: normal;
                        font-weight: normal;
                        font-size: 56px;
                        color: #684FFF;
                        margin-right: 10px;
                    }
                    p{
                        color: #0A1931;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                    }
                }
            }
            .button{
                a{
                    background-color: #684FFF;
                    border-radius: 5px;
                    padding: 7px 15px;
                    display: inline-block;
                    color: #0A1931;
                    text-decoration: none;
                    -webkit-transition: all .5s ease-in-out;
                    color: #FFFFFF;
                    transition: all .5s ease-in-out;
                }
            }
        }
    }
    // intro end

    // service 
    .service{
        padding: 30px 0px;
        .service__header{
            text-align: center;
            h4{
                font-style: normal;
                font-weight: normal;
                font-size: 40px;
                color: #0A1931;
            }
            div{
                height: 3px;
                width: 80px;
                margin: 10px auto;
                background: #684FFF;
                border-radius: 3px;
                opacity: 0.6;
            }
        }
        .cards{
            .service__card{
                padding: 20px;
                background: #f2f3f5;
                
                transition: all .5s ease-in-out;
                .top__icon{
                    i{
                        color: #0A1931;
                        font-size: 30px;
                        transition: all .5s ease-in-out;
                    }
                }
                .main__content{
                    padding-top: 100px;
                    transition: all .5s ease-in-out;
                    h5{
                        font-size: 30px;
                        max-width: 190px;
                        color: #0A1931;
                    }
                    div{
                        height: 1px;
                        width: 30px;
                        background: #684FFF;
                        border-radius: 3px;
                        opacity: 0.3;
                        margin: 10px 0px;
                    }
                    a{
                        text-decoration: none;
                        color: #0A1931;
                        display: flex;
                        align-items: center;
                        transition: all .5s ease-in-out;
                        span{
                            margin-right: 10px;
                            font-size: 16px;
                            display: none;
                            transition: all .5s ease-in-out;
                        }
                    }
                }
                &:hover{
                    background: #FFFFFF;
                    /* Hover Shadow */
                    box-shadow: 4px 4px 10px rgba(10, 25, 49, 0.09);
                    .top__icon{
                        i{
                            color: #684FFF;
                            
                        }
                    }
                    .main__content{
                        a{
                            span,i{
                                display: block;
                                color: #684FFF;
                            }
                        }
                    }
                   
                }
            }
        }
    }
    // service end

    // work
    section.works{
        background: rgba(223, 227, 235, 0.4);
        padding: 50px 0px;
        .work__header{
            text-align: center;
            h4{
                font-style: normal;
                font-weight: normal;
                font-size: 40px;
                color: #0A1931;
            }
            div{
                height: 3px;
                width: 80px;
                margin: 10px auto;
                background: #684FFF;
                border-radius: 3px;
                opacity: 0.6;
            }
        }
        .work__cards{
            .work__card{               
                .card__text{
                    padding: 20px 10px;
                    background: #FFFF;
                    h4{
                        color: #0A1931;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 22px;
                    }
                    .see_work{
                        margin-top: 10px;
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        span{
                            font-size: 16px;
                            color: #684FFF;
                            display: none;
                            transition: all .5s ease-in-out;
                            margin-right: 10px;
                        }
                        i{
                            font-size: 16px;
                            color: #684FFF;
                        }
                       
                    }
                }
                &:hover{
                    .card__text{
                        .see_work{
                          span{
                              display: block;
                          }
                        }
                    }  
                }
            }
        }
    }
    // work end

    // brand
    section.brands{
        padding: 60px 0px;
        .brand__info__text{
            p{
                font-style: normal;
                font-weight: normal;
                font-size: 32px;
                span{
                    color: #684FFF;
                }
            }
        }
    }
    // brand end

    //hire__me
    section.hire__me{
        background-color: #0A1931;
        padding: 60px 0px;
        .info{
            text-align: center;
            h4{
                color: #FFFFFF;
                font-style: normal;
                font-weight: normal;
                font-size: 32px;
                text-align: center;
                max-width: 505px;
                margin: 20px auto;
            }
            a{
                background-color: #684FFF;
                border-radius: 5px;
                padding: 7px 15px;
                display: inline-block;
                color: #0A1931;
                text-decoration: none;
                -webkit-transition: all .5s ease-in-out;
                color: #FFFFFF;
                transition: all .5s ease-in-out;
            }
        }
    }
    //hire__me end

    //testimonial
    section.testimonial{
        padding: 30px 0px;
        margin-top: 30px;
        .testimonial__header{
            text-align: center;
            h4{
                font-style: normal;
                font-weight: normal;
                font-size: 40px;
                color: #0A1931;
            }
            div{
                height: 3px;
                width: 80px;
                margin: 10px auto;
                background: #684FFF;
                border-radius: 3px;
                opacity: 0.6;
            }
        }
        .testimonial__chat{
            .chat{
                display: flex;
                padding: 10px;
                align-items: center;
                transition: all .5s ease-in-out;
                .chat__img{
                    img{
                        height: 52px;
                        width: 52px;
                        border-radius: 50%;
                    }
                }
                .chat__info{
                    h6{
                        color: #0A1931;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                    }
                    p{
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        color: #737D8C;
                    }
                }
                &:hover{
                    background: #f0f2f7;
                    cursor: pointer;
                }
            }
            .chat.active{
                background: #f0f2f7;
            }
            
        }
        .mesg{
            background: rgb(245, 247, 248);
            padding: 20px;
            position: relative;
            overflow-x: visible;
            .mesg__header{
                .rating{
                    display: flex;
                    align-items: center;
                    i{
                        color: #FF8718;
                    }
                    span{
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        color: #0A1931;
                        margin-left: 5px;
                    }
                }
                .fa-quote-right{
                    font-size: 80px;
                    color: #DFE3EB;
                }
            }
            .mseg__content{
                p{
                    font-family: Inter;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 28px;
                    line-height: 160%;
                    color: #0A1931;
                }
            }
            .tool__tip{
                height: 85px;
                width: 100px;
                background: rgb(245, 247, 248);
                transform: rotate(45deg);
                position: absolute;
                top: 0%;
                left: 0%;
                z-index: -1;
            }
        }
    }
    //testimonial

    //blog__news
    section.blog__news{
        padding: 30px;
        background: linear-gradient(to right,#DFE3EB,#FFFFFF);
        .blog__news__header{
            text-align: center;
            h4{
                font-style: normal;
                font-weight: normal;
                font-size: 40px;
                color: #0A1931;
            }
            div{
                height: 3px;
                width: 80px;
                margin: 10px auto;
                background: #684FFF;
                border-radius: 3px;
                opacity: 0.6;
            }
        }
        .blog__card{
            background: #FFFFFF;
            transition: all .5s ease-in-out;
            .card__img{
                // padding: px;
                img{
                    transform: scale(0.95);
                    transition: all .3s ease-in-out;
                    &:hover{
                        transform: scale(1);
                    }
                }
            }

            .card__content{
                padding: 7px 20px;
                span{
                
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    text-align: center;

                    /* Gray_500 */
                    color: #737D8C;
                }
                .main{
                    p{
                        font-family: Inter;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 150%;
                        color: #0A1931;
                    }
                }
                .bottom{
                    margin-top: 20px;
                    a{
                        display: flex;
                        text-decoration: none;
                        span,i{
                            color: #684FFF;
                        }
                        span{
                            margin-right: 15px;
                            display: none;
                        }
                    }
                }
            }
            &:hover{
                box-shadow: 4px 4px 10px rgba(163, 178, 204, 0.09);
                cursor: pointer;
               
                .card__content{
                    .bottom{
                        a{
                            span{
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
    //blog__news end
}
